
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #575757;
}


header {
    text-align: center;
    margin-top: 30px;
}


h1 {
    font-size: 42px;
    margin-bottom: 20px;
}


.container {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color: #575757;
    border-radius: 8px;
}


.game {
    margin-bottom: 50px;
}


.game img {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 100%;
    height: auto;
}


h2 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 5px;
}


.game p strong {
    display: block;
    text-align: center;
    font-size: 26px; 
    margin-bottom: 15px;
}


.game p {
    font-size: 16px;
    line-height: 1.6;
    text-align: left;
}

@media screen and (max-width: 800px) {
    .container {
        width: 95%;
        padding: 15px;
    }

    header {
        margin-top: 15px;
        text-align: center;
    }

    h1 {
        font-size: 28px;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .game {
        margin-bottom: 20px;
    }

    .game img {
        max-width: 100%;
        height: auto;
        margin-bottom: 15px;
    }

    .game p {
        font-size: 14px;
        line-height: 1.5;
        text-align: center;
        margin: 0 auto 10px auto;
    }

    .game p strong {
        font-size: 18px;
        margin-bottom: 8px;
        display: block;
        text-align: center;
    }
}